@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

/* .navSide {
    background-color: aqua;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
} */

.navSide h2 {
    cursor: pointer;
}

/* .navSide ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
} */

.navSide ul li {
    cursor: pointer;
}

/* sidebar */

/* .sideMenuButton {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: solid 2px;
    height: 2.5rem;
    color: black;
    gap: 25px;
    cursor: pointer;

} */

.sidebar-container {
    position: absolute;
    top: 90px;
    right: 0;
    position: fixed;
    background-color: rgb(103, 98, 98);
    color: white;
    /* width of uncollapsed side bar*/
    width: 250px;    
    border-radius: 15px;
   
}

.sticky {
    position: sticky;
}
.sidebar-container::-webkit-scrollbar {
    display: none;
}

.nav-option {
    display: flex;
    align-items: center;
    padding: 10px 0px 20px 10px;
    gap: 20px;
    width: 250px
    
}

.nav-option:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}

.svg {

    text-align: center;

}

.nav-option {
    color: white;
    font-size: 25px;
    

}

@media screen /* and (min-width:768px) */{
    .navCollapse {
        /* width of nav collapsed side bar */
        width: 50px;
    }

    .navCollapse .nav-option h3 {
        display: none;
    }

    .navCollapse .nav-option {
        padding: 15px;
    }

    
}