.footer {
    position: absolute;
    width: 100vw;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgb(103, 98, 98);
    
    
    
  }

  a {
    color: whitesmoke;
    margin: 10px;
  }