html {
  scroll-behavior: smooth;
}

.header a {
  text-decoration: none;
  color: whitesmoke;
}

.header body {
  font-family: "Lato", Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: rgb(103, 98, 98);
  color: whitesmoke;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.header li {
  display: inline-block;
  margin: 7px;
  text-decoration: none;
}

.header section {
  scroll-margin-top: 60px;
}

.header .mobile {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.header input {
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 20px;
  opacity: 0.8;
  box-shadow: inset 0 0 3px #333;
}

@media (max-width: 800px) {
  .header body {
    background-color: rgb(59, 28, 210);

    /* Hides nav or hamburger menu */
  }
  .header nav ul {
    display: none;
  }

  .header .mobile {
    display: block;
    border: solid 1px;
  }

  .header .btn {
    padding: 0.6 rem;
    background-color: bisque;
  }

  .header ul.responsive {
    display: block;
    background-color: brown;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 25%;
  }

  .header ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
