.banner {
  font-size: 20px;
}

.banner .img-wrap {
  position: relative;
}

.banner .fade {
  height: 100%;
  width: 100%;
  position: absolute;
  background: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 70%,
    rgb(255, 255, 255) 100%
  );
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.banner .inputs {
  position: absolute;
  left: 5%;
  top: 22%;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner input,
.banner select {
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 20px;
  opacity: 0.8;
  box-shadow: inset 0 0 3px #333;
}

.banner input:focus,
.banner select:focus {
  outline: 2px solid black;
}

.banner button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}

.banner button:hover {
  opacity: 0.7;
}
