.cardsBucket {
    background-color: #f2f2f2;
    padding: 15px 15px;
    margin-top: 5px;    
}

.cardsBucket .eventCardsBucket {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    gap: 4.375rem;
    margin: 0;
    padding: 0;
}
