.navSide {
    background-color: aqua;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;
}

.navSide h2 {
    cursor: pointer;
}

.navSide ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap 20px;
}

.navSide ul li {
    cursor: pointer;
}

/* sidebar */

.sideMenuButton {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: solid 2px;
    height: 2.5rem;
    color: black;
    gap: 25px;
    cursor: pointer;

}

.sidebar-container {
    background-color: black;
    color: white;
    width: 250px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar-container::-webkit-scrollbar {
    display: none;
}

.nav-option {
    display: flex;
    align-items: center;
    padding: 10px 0px 20px 20px;
    gap: 20px;
    width: 250px
}

.nav-option:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}

.nav-option {
    color: white;
    font-size: 25px;

}

@media screen and (min-width:768px){
    .navCollapse {
        width: 80px;
    }

    .navCollapse .nav-option h3 {
        display: none;
    }

    .navCollapse .nav-option {
        padding: 28px;
    }

    
}